.post-section {
    width: 100%;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.single-post {
    border: 2px solid #FFE1E1;
    border-radius: 8px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 504px;
    cursor: pointer;
}

.wrapper-post-content {
    width: 400px;
}

.post-img {
    width: 400px;
    height: 400px;
    border-radius: 8px;
    object-fit: cover;
}

.wrapper-post-author {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 2rem;
}

.avatar-img {
    width: 30px;
    height: 30px;
    border-radius: 100px;
}

.name-post-author {
font-weight: bold;
    font-size: 20px;
}

.wrapper-title-and-react {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper-react, .wrapper-comments {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.react-counter, .comment-counter {
    font-size: 20px;
    font-weight: bold;
}

.heart-react-icon, .comment-icon {
    height: 20px;
    width: 20px;
}

.wrapper-comments-and-react {
    display: flex;
    align-items: center;
    gap: 2rem;
}