#post-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.wrapper-post-content {
    width: 600px;
}

.wrapper-post-author {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 2rem;
    cursor: pointer;
}

.avatar-img {
    width: 30px;
    height: 30px;
    border-radius: 100px;
}

.name-post-author {
    font-weight: bold;
    font-size: 20px;
}

.wrapper-comments-and-react {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
}

.wrapper-react, .wrapper-comments {
    display: flex;
    align-items: center;
    gap: .5rem;
    cursor: pointer;
}

.react-counter, .comment-counter {
    font-size: 20px;
    font-weight: bold;
}

.heart-react-icon, .comment-icon {
    height: 20px;
    width: 20px;
}

.post-img {
    width: 600px;
    height: 450px;
    object-fit: cover;
    border-radius: 1rem;
}

.post-title {
    font-size: 28px;
    font-weight: bold;
    margin-top: 22px;
    margin-bottom: .5rem;
}

.post-body {
    font-size: 20px;
}

